[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RDataCanvas"]
	path = RDataCanvas
	url = https://github.com/datacanvasio/rdatacanvas
	shallow = true
	registered = true
